<section class=" header">
  <div class="container-md d-flex justify-content-between align-items-center">
    <div class="logo">
      <a>LOGOHERE</a>
    </div>
    <div class="nav">
      <ul class="list-unstyled mb-0 d-flex align-items-center justify-content-between gap-4">
        <li routerLink="/pics" routerLinkActive="my-active">
          Pics
        </li>
        <li routerLink="/contacts" routerLinkActive="my-active">Contacts</li>
      </ul>
    </div>
    <div class="auth">Login</div>
  </div>
</section>
